<!doctype html>
<html ng-app="app">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="app.js"></script>
</head>
<body >
<span ng-controller="BodyController">
  {{data.1}}
  <br/>
  {{data.2}}
  <br/>
  {{data.3.1}}
  <br/>
  {{data.3.2}}
  <br/>
  {{data.3.3.1}}
  <br/>
  {{data.3.3.2}}
</span>

<span ng-controller="ChangeData">
  <button ng-click="change()">Change Data One Number</button>
  <button ng-click="change()">Change Data Change Object</button>
</span>
</body>
</html>